<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    
    <header class="header">
        <a href="#" class="logo">Portfolio</a>
        <i class='bx bx-menu' id="menu-icon"></i>
        <nav class="navbar">
            <a href="home" class="active">Home</a>
            <a href="about">About</a>
            <a href="services">Services</a>
            <a href="portfolio">Portfolio</a>
            <a href="contact">Contact</a>

        </nav>
    </header>
    <section class="home" id="home">
        <div class="home-content">
            <h3>Hello, It's Me</h3>
            <h1>Beji Bassem</h1>
            <h3>And I'm a <span class="multiple-text"></span></h3>
           
            <p>I am an enthusiastic and passionate student, always ready to develop my skills and explore new horizons.
                 I am motivated by curiosity and the desire to push my limits.
                  I firmly believe in lifelong learning and remain constantly open to learning opportunities.</p>
            <div class="social-media">
                <a href="https://www.facebook.com/bassem.beji.92" target="_blank"><i class='bx bxl-facebook' ></i></a>
                <a href="https://www.instagram.com/beji.bassem/" target="_blank"><i class='bx bxl-instagram' ></i></a>
                <a href="https://www.linkedin.com/in/bessem-beji/" target="_blank"><i class='bx bxl-linkedin' target="_blank"></i></a>
                <a href="https://github.com/bassem-beji" target="_blank"><i class='bx bxl-github'></i></a>
                
            </div>
            <a href="home" class="btn" (click)="downloadCV()">Download CV</a>
        </div>
        <div class="home-img">
            <img src="assets/home.png" alt="photo">
        </div>
    </section>
</body>
</html>