<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <a href="#" class="logo">Portfolio</a>
        <i class='bx bx-menu' id="menu-icon"></i>
        <nav class="navbar">
            <a href="home" >Home</a>
            <a href="about" class="active">About</a>
            <a href="services">Services</a>
            <a href="portfolio">Portfolio</a>
            <a href="#contact">Contact</a>

        </nav>
    </header>
    <section class="about" id="about">
        <div class="about-img">
            <img src="assets/about12.png" alt="photo">
        </div>
        <div class="about-content">
            <h2 class="heading">About <span>Me</span></h2>
            <h3>Software Engineering Student!</h3>
           <p>As a software developer, I am skilled in HTML, CSS, and JavaScript to create responsive user interfaces.
             I have some experience with Angular for developing modern web applications. Additionally,
              I have a basic knowledge of Spring Boot to design server-side solutions.
               I am constantly open to new technologies to enhance my development skills.</p>
            <h3>Embedded System Student!</h3>
           <p>As an experienced embedded engineer, I have completed various projects in this field. 
            With a strong command of low-level programming languages such as C and C++,
             I have designed optimized software for embedded systems. 
             I possess a solid understanding of communication protocols and hardware interfaces.
              Being passionate about embedded systems, I am ready to take on new challenges in this captivating field.</p>
            <a href="#" class="btn">Read More</a>
        </div>
    </section>
</body>
</html>