<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@2.0.7/css/boxicons.min.css">

</head>
<body>
    <header class="header">
        <a href="#" class="logo">Portfolio</a>
        <i class='bx bx-menu' id="menu-icon"></i>
        <nav class="navbar">
            <a href="home">Home</a>
            <a href="about">About</a>
            <a href="services">Services</a>
            <a href="portfolio" class="active">Portfolio</a>
            <a href="contact">Contact</a>
        </nav>
    </header>
    <section class="portfolio" id="portfolio">
        <h2 class="heading">Latest<span>Project</span></h2>
        <div class="portfolio-container">

            <div class="portfolio-box">
                <img src="assets/BIY-BOT.png" alt="image">
                <div class="portfolio-layer">
                    <h4>BIY-BOT</h4>
                    <p>hand gesture control robot</p>
                    <a href="https://github.com/bassem-beji/hand-gesture-control-robot" target="_blank"><i class='bx bx-link-external'  ></i></a> 
                </div>
            </div>
            <div class="portfolio-box">
                <img src="assets/app-mobile1.jpg" alt="image">
                <div class="portfolio-layer">
                    <h4>mobile application d'language learning</h4>
                    <p>An educational mobile application to teach French grammar</p>
                    <a href="#" target="_blank"><i class='bx bx-link-external'  ></i></a> 
                </div>
            </div>

            <div class="portfolio-box">
                <img src="assets/BIY-INTERFACE1.png" alt="image">
                <div class="portfolio-layer">
                    <h4>BIY-BOT-app</h4>
                    <p>Streaming interface development with Angular</p>
                    <a href="#" target="_blank"><i class='bx bx-link-external'  ></i></a> 
                </div>
            </div>

            <div class="portfolio-box">
                <img src="assets/monopoly.jpg" alt="image">
                <div class="portfolio-layer">
                    <h4>Monopoly Game</h4>
                    <p>Monopoly Game Tunisian version</p>
                   <a href="https://github.com/bassem-beji/Monopoly-Game" target="_blank"><i class='bx bx-link-external' ></i></a> 
                </div>
            </div>
            
            
            
        </div>
    </section>
</body>
</html>