<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@2.0.7/css/boxicons.min.css">

</head>
<body>
    <header class="header">
        <a href="#" class="logo">Portfolio</a>
        <i class='bx bx-menu' id="menu-icon"></i>
        <nav class="navbar">
            <a href="home" >Home</a>
            <a href="about">About</a>
            <a href="services" class="active">Services</a>
            <a href="portfolio">Portfolio</a>
            <a href="contact">Contact</a>

        </nav>
    </header>
    <section class="Services" id="Services">
        <h2 class="heading">Our <span>Services</span></h2>
        <div class="services-container">
            <div class="services-box">
                <i class='bx bx-code-alt'></i>
                <h3>Web Development</h3>
                <p>Je suis familier avec plusieurs technologies de développement web,
                     notamment HTML, CSS et JavaScript. J'ai également une solide compréhension du framework Angular,
                      utilisé pour créer des applications web dynamiques et réactives. De plus, 
                      j'ai de l'expérience avec Spring Boot.</p>
                <a href="#" class="btn">Read More</a>
            </div>

            <div class="services-box">
                <i class="bx bxs-microchip"></i>
                <h3>embedded system</h3>
                <p>Je suis familiarisé avec les langages C et C++, qui sont couramment utilisés 
                    dans le développement de systèmes embarqués. De plus, j'ai une bonne compréhension
                     des différents protocoles de communication utilisés dans ces systèmes</p>
                <a href="#" class="btn">Read More</a>
            </div>
            <!--

            <div class="services-box">
                <i class='bx bxs-paint' ></i>
                <h3>Graphic Design</h3>
                <p>Lorem ipsum, dolor sit amet consectetur
                     adipisicing elit. Possimus tempora atque ullam
                      nihil rerum dignissimos officia tenetur, 
                      accusamus itaque similique?</p>
                <a href="#" class="btn">Read More</a>
            </div>-->
        </div>
    </section>
</body>
</html>
